#slider {
  background: white;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div #carousel {
  margin: 0 auto;
}

.photo {
  border-radius: 10px;
  max-width: 50%;
  margin: auto;
}
.content {
  text-align: center;
  font-size: clamp(8px, 2vw, 15px);
  padding: 1rem 25rem;
}

.icons {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.icon-left {
  left: 10%;
}
