#skills {
  background: var(--color-bg);
}

.boxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 2rem;
}
.boxes-container h2 {
  color: var(--color-dark);
}

.box-front,
.box-back {
  box-shadow: 20px 20px 60px #a6bebc, -20px -20px 60px #e0fffe;
  text-align: center;
  padding: 0.5rem;
}
.box-inner {
  margin-bottom: 2rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.logo {
  font-size: 1.5rem;
}

@media screen and (min-width: 1000px) {
  #skills h2 {
    padding: 4rem 0 2rem 0;
  }

  .boxes-container {
    flex-direction: row;
    gap: 5rem;
  }
  .box {
    background-color: transparent;
    width: 20rem;
    height: 25rem;
    perspective: 1000px;
  }
  .box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .box:hover .box-inner {
    transform: rotateY(180deg);
  }
  .box-front,
  .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-back {
    background-color: var(--color-bg);

    background: linear-gradient(145deg, #b0c9c7, #d1efec);
    box-shadow: 20px 20px 60px #a6bebc, -20px -20px 60px #e0fffe;

    color: var(--color-dark);
    transform: rotateY(180deg);
  }
}
