.text {
  width: 60%;
  margin: 0 auto;
  text-align: start;
  line-height: 2rem;
}

#about > h2 {
  font-weight: bold;
  color: var(--color-dark);
  font-size: 2em;
  margin-bottom: 1em;
  align-self: center;
}
.text > p {
  display: inline-block;
}

#about {
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #about {
    justify-content: flex-start;
  }
  .text {
    width: 80%;
  }

  #about > h2 {
    font-size: 1.6em;
  }
}
