#home {
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
}

.home_container {
  text-align: center;
  position: relative;
}

.cta {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.me {
  background: var(--color-bg);
  box-shadow: 20px 20px 60px #a6bebc, -20px -20px 60px #e0fffe;
  width: 20rem;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 20rem 20em 0 0;
  overflow: hidden;
}

/* ======= MEDIA QUERIES FOR MEDIUM DEVICES ======== */
@media screen and (max-width: 1042px) {
  .me {
    width: 20rem;
    height: auto;
  }
}

/* ======= MEDIA QUERIES FOR SMALL DEVICES ======== */

@media screen and (max-width: 600px) {
  .home_container {
    padding-top: 2rem;
  }
  .me {
    width: 15rem;
    height: auto;
  }
}
