.contactContainer {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.contactContainer h2 {
  font-size: 2em;
}

#footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
}
#footer p {
  font-size: 0.8rem;
}

.socials ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & li {
    list-style: none;
    margin-bottom: 1em;

    a {
      text-decoration: none;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  &:hover {
    a {
      color: #ccc;
      &:hover {
        color: #000;
        box-shadow: 0 2px 0 0 currentcolor;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
  }
}
