header {
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100vh;
  position: relative;
}

.cta {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 20rem;
}
.header__socials > a {
  font-size: 1.3rem;
}

.me {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 20rem;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 20rem 20em 0 0;
  overflow: hidden;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 21rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ======= MEDIA QUERIES FOR MEDIUM DEVICES ======== */
@media screen and (max-width: 1042px) {
  .me {
    width: 20rem;
    height: auto;
  }
  .scroll__down {
    margin-right: 5rem;
  }

  .header__socials {
    margin-left: 5rem;
  }
}

/* ======= MEDIA QUERIES FOR SMALL DEVICES ======== */

@media screen and (max-width: 600px) {
  .me {
    width: 15rem;
    height: auto;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
