@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: linear-gradient(145deg, #b0c9c7, #d1efec);
  --color-bg-light: #edf6f9;
  --color-dark: rgb(58, 56, 56);
  --color-transparent-dark: rgba(0, 0, 0, 0.523);

  --container-width-lg: 75%;
  --container-width-md: 86 %;
  --container-width-ms: 90 %;

  --transition: all 400ms ease;

  --nav-height: 3em;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg-light);
  color: var(--color-dark);
  line-height: 1.7;
}

/* ==================== GENERAL STYLES ====================== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
}

section {
  min-height: 100vh;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-dark);
}
section > h2 {
  color: var(--color-dark);
}

a {
  color: var(--color-dark);
  transition: var(--transition);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-dark);
  padding: 0.75rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  border: 1.5px solid var(--color-dark);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-transparent-dark);
  color: #dbfcf9;
  border-color: transparent;
}

.btn-primary {
  background: var(--color-bg);
  color: var(--color-dark);
  border: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ======= MEDIA QUERIES FOR MEDIUM DEVICES ======== */
@media screen and (max-width: 1042px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ======= MEDIA QUERIES FOR SMALL DEVICES ======== */

@media screen and (max-width: 800px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    justify-content: flex-start;
    padding-top: calc(var(--nav-height) + 3em);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
