nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.4rem;
  z-index: 2;
  position: fixed;
  top: 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
}

nav a {
  font-size: 1.5rem;
  color: var(--color-primary);

  padding: 0.5rem 0.5rem 0.1rem 0.5rem; 
}

nav a.active {
  background-color: rgba(29, 27, 27, 0.639);
  border-radius: 1rem;
  
}
